$dark-blue: #0000FF;
$dark-green: #008000;
$yellow: #FFFF00;
$light-blue: #00FFFF;
$purple: #800080;
$size-multiplier: 3;
$transform-time: 3s;
$full-rotation: 360deg;

.dark-blue {
    color: $dark-blue;
}

.dark-green {
    color: $dark-green;
}

.yellow {
    color: $yellow;
}

.light-blue {
    color: $light-blue;
}

.purple {
    color: $purple;
}

.image:hover {
    transform: scale($size-multiplier);
    rotate: $full-rotation;
    transition: transform $transform-time ease, rotate $transform-time ease;
}
