$dark-blue: #0000FF;
$dark-green: #008000;
$yellow: #FFFF00;
$light-blue: #00FFFF;
$purple: #800080;
$red: #FF0000;
$grey: #808080;
$pink: #FFC0CB;
$size-multiplier: 3;
$transform-time: 3s;
$full-rotation: 360deg;

.dark-blue {
  color: $dark-blue;
}

.dark-green {
  color: $dark-green;
}

.yellow {
  color: $yellow;
}

.light-blue {
  color: $light-blue;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.grey {
  color: $grey;
}

.image:hover {
  transform: scale($size-multiplier);
  rotate: $full-rotation;
  transition: transform $transform-time ease, rotate $transform-time ease;
}

@keyframes shake-fly {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-300px, -500px);
  }
  50% {
    transform: translate(300px, -500px);
  }
  75% {
    transform: translate(-300px, 300px);
  }
  100% {
    transform: translate(500px, 300px);
  }
}
/* Apply the animation to the text element */
.goCrazy {
  animation: shake-fly 1s ease-in-out infinite;
}

.button {
  background-color: #FDB813;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: #DC9C00;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.button:focus {
  outline: none;
}
.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}